body { background-color: #ffffff;
}

h1 {
    color: rgb(0, 14, 166);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: rgb(0, 73, 107);
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
}
.img {
    border-radius: 10px;

}
p {
    color: #0099ff;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: rgb(0, 14, 166);
    font-family: Arial, Helvetica, sans-serif
};
li {
    font-family: Arial, Helvetica, sans-serif;
}